@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap");
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(45deg,yellow,blue);

}