@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap");
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*adding gradiant to the body background*/
    background: linear-gradient(45deg,yellow,blue);
    /*specifing that the body covers the whole height*/
    height: 100vh;
    /*making the contents shift to center*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Sansita Swashed", cursive;
}
.center{
    position: relative;
    border-radius: 10px;
    background: #fff;
    padding: 50px 50px;
}
.center h1{
    font-size: 2em;
    border-left: 5px solid rgb(0, 140, 255);
}