@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');
body{
    margin: 0;
    height: 100vh;
    background:#3399ff ;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    font-family: poppins;
}
.container{
    position: relative;
    width: 350px;
    height: 500px;
    background: #ecf0f3;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 14px 14px 20px #3761af , -14px -14px 20px hsl(209, 100%, 71%);
}